@import url('../../css/main-styles/style.css');
@import url('../../main/main-menu/main-menu.css');
@import url('../../form/user-form/user-form.css');

.form-user {
    border: var(--fg-form-control-border);
    padding: 20px;
    border-radius: 10px;
}

.text-center {
    text-align: center;
    color: var(--title-color);
    text-transform: upperCase;
}

.btn {
    background-color: var(--fg-btn-bg-color);
    color: var(--fg-btn-color);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 800;
    text-shadow: var(--fg-btn-text-shadow);
}