@import url('../../css/main-styles/style.css');
@import url('../../main/main-menu/main-menu.css');

.background {
    height: 100%;
    width: 100%;
}

.text-center {
    text-align: center;
    color: var(--title-color);
    text-transform: upperCase;
}

.home .span-user {
    color: var(--title-color);
    font-weight: bold;
}