.right-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--modal-bg-color);
}

.right-modal-content {
    position: absolute;
    top: 10px;
    right: 10px;
    min-width: 10px;
    min-height: 10px;
    max-width: 40%;
    max-height: 60%;
    background-color: var(--modal-content-bg-color);
    border-radius: 10px;
    overflow: auto;
    box-sizing: border-box;
}

.right-modal-content::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.right-modal-content::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
    border-radius: 5px;
}

.right-modal-content::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-color);
}

.right-modal-content .close {
    color: var(--modal-btn-close-color);
    float: right;
    font-size: 25px;
    font-weight: bold;
    width: 25px;
    height: 25px;
}

.right-modal-content .close:hover,
.right-modal-content .close:focus {
    color: var(--modal-btn-close-hover-color);
    text-decoration: none;
    cursor: pointer;
}

.right-modal-content #right-modal-body {
    min-width: 50px;
    min-height: 50px;
}
