.form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 100px;
    justify-content: center;
    align-items: center;
    background: none;
    max-width: 650px;
    max-height: 500px;
    overflow: hidden;
    padding: 20px;
    border-radius: 10px;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px;
    gap: 10px;
    overflow: hidden;
}

.form-group .form-label {
    font-size: 15px;
    font-weight: 400;
    color: var(--fg-form-label-color);
    text-transform: uppercase;
    letter-spacing: 4px;

}

.form-group .form-control {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    color: var(--fg-form-control-color);
    border: var(--fg-form-control-border);
    background-color: var(--fg-form-control-bg-color);
    padding: 10px;
    font-size: 15px;
}

.btn-submit {
    width: 140px;
    border-radius: 25px;
    background-color: var(--fg-btn-submit-bg-color);
    color: var(--fg-btn-color);
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
    padding: 10px;
    text-shadow: var(--fg-btn-text-shadow);
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
}